body{
  background-color: #fef0f0;
}

span{
  padding: 5px;
  font-size: 4vh;
  
}
/* 
body{
  background-color: ;
} */

:root {
  
  --shadow: #F9DB61; /* Pink */
}

.cell{
  border: 1px solid black;
}


/* h1 {
 /* border: 1px solid black; 
 align-items: center;
 margin: 10px;
 font-family: 'Oswald', sans-serif; 
 font-weight: 700 bold;
 font-size: 15vh;
 text-shadow: 6px 6px var(--shadow),
 3px 3px var(--shadow);

 color: black;
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) 
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;

} */


/* html, body {
  width: 100%;  
  height: 100%;
  background: #76b852;
  background: -webkit-linear-gradient(to left, #76b852 , #8DC26F);
  background: -webkit-linear-gradient(right, #76b852 , #8DC26F);
  background: linear-gradient(to left, #76b852 , #8DC26F);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
} */

h1 {
  text-align:center;

}

h1 span {
  font-family: 'Fjalla One', sans-serif;
  /* font-weight: 700 ; */
  font-size: 140px;
  margin-right: 20px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color:  #4D9DE0;
  /* -webkit-text-stroke-color: #F6BDDB; */
 
  text-shadow: 6px 3px var(--shadow),
  10px 10px var(--shadow);
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce .3s ease alternate;
          animation: bounce .3s ease alternate;
          animation-iteration-count: 15;
  
  
  /* font-size: 80px;

 
  color: #FFF; */
  /* text-shadow: 0 1px 0 #F9DC5C,
               0 2px 0 #F9DC5C,
               0 3px 0 #F9DC5C,
               0 4px 0 #F9DC5C,
               0 5px 0 #F9DC5C,
               0 6px 0 solid,
               0 7px 0 solid,
               0 8px 0 solid,
               0 9px 0 solid,
			   0 10px 0 transparent,
               0 11px 0 solid,
               0 12px 0 solid,
               0 13px 0 solid,
			   0 14px 0 solid,
               0 15px 0 solid,
               0 10px 10px rgba(0, 0, 0, .4); */
}

h1 span:nth-child(2) { -webkit-animation-delay: .1s; animation-delay: .1s; }
h1 span:nth-child(3) { -webkit-animation-delay: .2s; animation-delay: .2s; }
h1 span:nth-child(4) { -webkit-animation-delay: .3s; animation-delay: .3s; }
h1 span:nth-child(5) { -webkit-animation-delay: .4s; animation-delay: .4s; }
h1 span:nth-child(6) { -webkit-animation-delay: .9s; animation-delay: .5s; }
h1 span:nth-child(7) { -webkit-animation-delay: .6s; animation-delay: .6s; }
h1 span:nth-child(8) { -webkit-animation-delay: .7s; animation-delay: .7s; }
h1 span:nth-child(9) { -webkit-animation-delay: .8s; animation-delay: .8s; }
/* h1 span:nth-child(10) { -webkit-animation-delay: .9s; animation-delay: .9s; }
h1 span:nth-child(11) { -webkit-animation-delay: 1s; animation-delay: 1s; }
h1 span:nth-child(12) { -webkit-animation-delay: 1.1s; animation-delay: 1.1s; }
h1 span:nth-child(13) { -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
h1 span:nth-child(14) { -webkit-animation-delay: 1.3s; animation-delay: 1.3s; } */

/* @-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ED254E,
                 0 2px 0 #ED254E,
                 0 3px 0 #ED254E,
                 0 4px 0 #ED254E,
                 0 5px 0 #ED254E,
                 0 6px 0 #ED254E,
                 0 7px 0 #ED254E,
                 0 8px 0 #ED254E,
                 0 9px 0 #ED254E,
				 0 10px 0 #CCC,
               0 11px 0 #CCC,
               0 12px 0 #CCC,
               0 13px 0 #CCC,
			   0 14px 0 #CCC,
               0 15px 0 #CCC,
                 0 50px 25px rgba(0, 0, 0, .2);
  } 
}*/

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
                 0 2px 0 #00C49A,
                 0 3px 0 #00C49A,
                 0 4px 0 #00C49A,
                 0 5px 0 #00C49A,
                 0 6px 0 #00C49A,
                 0 7px 0 #00C49A,
                 0 8px 0 #00C49A,
                 0 9px 0 #00C49A,
				  0 10px 0 #00C49A,
                 0 50px 10px rgba(0, 0, 0, .3);
  }
}



.profile {
  display: flex;
  width: 80%
}

.main{
  display: flex;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2%; */
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
}



#male-model{
  display: block;
  height: 700px;
  margin: 0 auto;
  z-index: -1000;
}

.flex-grid {
  display: flex;
  flex-direction: row;
}

.col#middle{
  /* flex: 1; */
  margin: 5px;
  padding: 20px;
  /* border: 2px solid #4D9DE0; */
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  background-color: white;
}

.clothing-items{
  width:90x; 
  height:90px; 
  overflow: visible;
}

.col,#clotheslist {
  /* flex: 1; */
  margin: 5px;
  padding: 20px;
  /* border: 2px solid #4D9DE0; */
  display: block;
  width: 400px;

  margin-left: auto;
  margin-right: auto; 
 
}
.center {
  margin: auto;
  width: 45%;
  padding: 10px;
}

.button{
  text-align: center;
  background-color: wheat;
  border-radius: 25px;
  border: 1px solid sandybrown;
}

.col,#closetlist {
  /* flex: 1; */
  margin: 5px;
  padding: 20px;
  /* border: 2px solid #4D9DE0; */
  display: block;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
  
}

input {
  margin: 10px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #F9DB61;
  
}

ul.nav li {
  float: left;
  
}

ul.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 1px 1px #4D9DE0;
}

ul.nav li a:hover{
  font-style: italic;
  color: #4D9DE0;
  font-weight: bold;

}

.gridtest{
display: grid;

}

/* ul.nav li a:hover {
  background-color: #111;
} */
.nav-bar{
  /* border: 1px solid black; */
  padding: 10px;
}

 /* .tops{
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.bottom{
  display: block;
  width: 250px;
  height: 300px;
  margin: 0 auto;
} 
 */


/* #clotheslist {
  display: grid;
  
} */


.box {
  display: flex;
}

button {
  background-color: white;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
}