

span{
  padding: 5px;
  font-size: 4vh;
  
}

body{
  background-color: ;
}

:root {
  
  --shadow: #E485F8; /* Pink */
}

.cell{
  border: 1px solid black;
}


h1 {
 /* border: 1px solid black; */
 align-items: center;
 margin: 10px;
 font-family: 'Oswald', sans-serif; 
 font-weight: 700 bold;
 font-size: 15vh;
 text-shadow: 6px 6px var(--shadow),
 3px 3px var(--shadow);

 color: black;
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;

}

.main{
  display: flex;
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2%; */
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

#male-model{
  display: block;
  height: 700px;
  margin: 0 auto;
}

.flex-grid {
  display: flex;
  flex-direction: row;
}

.col, #middle{
  flex: 1;
  margin: 5px;
  padding: 20px;
  border: 5px solid #ff9479;
  display: block;
  height: auto;
 margin-left: auto;
  margin-right: auto; 
  width: 5%;
}

.col,#clotheslist {
  flex: 1;
  margin: 5px;
  padding: 20px;
  border: 5px solid #ff9479;
  display: block;
  width: 400px;
  height: auto;
 margin-left: auto;
  margin-right: auto; 
  width:90%;
}

.col,#closetlist {
  flex: 1;
  margin: 5px;
  padding: 20px;
  border: 5px solid #ff9479;
  display: block;
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
  width: 5%;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(88, 86, 86);
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.gridtest{
display: grid;

}

/* ul.nav li a:hover {
  background-color: #111;
} */
.nav-bar{
  /* border: 1px solid black; */
  padding: 10px;
}

 /* .tops{
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.bottom{
  display: block;
  width: 250px;
  height: 300px;
  margin: 0 auto;
} 
 */

